






.modal {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  z-index: 3000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  padding: 2rem;
  width: 25vw;
  height: 25vw;
  background-color: #fafaf2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all 1s ease-in-out;
}



.modal-header {
  align-self: center;
  font-size: 45px;
  font-weight: bold;
}

.modal-content {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin-top: 35px;
}

.modal-forms {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.modal-hours {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.modal-hours p {
  margin: 10px;
}

.group {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}


.contact-input {
  border-radius: 7px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}


.submit {
  border-radius: 7px;
  padding: 10px;
  border: none;
  background-color: #ee5119;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submit:hover {
  background-color: #cd3700;
}


.overlay {
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  opacity: 0.5;
}

.btn-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}


.open-modal {
  height: 50px;
  width: 150px;
  border: none;
  background-color: #ee5119;
  border-radius: 3px;
  font-size: large;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}

.open-modal:hover {
  background-color: #cd3700;
  scale: 1.1;
}

#closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5%;
  height: 36px;
  fill: #6a6a6a;
}

#closeBtn:hover {
  fill: black;
}
